<?xml version="1.0" ?>
<robot name="core_2026" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Standalone 2026 rover-core model. This hardware model uses the
       drivetrain_2025 profile fitted to the physical rover. -->
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="drivetrain_profile" default="drivetrain_2025"/>

  <xacro:include filename="core_2026_macro.urdf.xacro"/>

  <xacro:core_2026
    prefix="$(arg prefix)"
    drivetrain_profile="$(arg drivetrain_profile)"
  />
</robot>
